<h3>Tree Locator</h3>

<form class="form" (ngSubmit)="submitForm($event)" novalidate>
  
  <md-input-container>
    <label>Search Criteria</label>
    <input mdInput [(ngModel)]="selected.searchValue" name="searchValue" 
           placeholder="Enter search criteria" value="{{selected.searchValue}}" />
  </md-input-container>
  <md-select placeholder="Filter" [(ngModel)]="selected.filter" name="filter">
    <md-option *ngFor="let filter of filters" [value]="filter">
      {{filter}}
    </md-option>
  </md-select>
  <button md-button type="submit">Find</button>

</form>