<div md-card class="card">
  <div md-card-title class="card-title">
    {{tree.location}}
  </div>
  <div md-card-subtitle class="card-subtitle">
    <!--{{tree.plantingDate}}-->
  </div>
  <div md-card-content class="card-content">
    Tree type: {{tree.typeOfTree}}
    <br />
    Status: {{tree.isLiving ? 'Alive and well' : 'No longer with us'}}
    <br />
    <!--<img md-card-image>	Card image. Stretches the image to the container width-->
    Website: <a href="{{tree.link}}">More info</a>
    <br />
    Coordinates: {{tree.latitude}}, {{tree.longitude}}
  </div>
</div>