@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber';

body{
  margin:0;
}

a:link {
  color: #47A025;
}
a:visited {
  color: #68B14C;
}
a:hover {
  color: #47A025;
}
a:active {
  color: #47A025;
}

.nav-bar {
  background-color: black;

  & > a {
    margin-right: 6px;
  }
}

agm-map {
  height: 300px;
}