body{
  margin:0;
}

/* unvisited link */
a:link {
  color: #47A025;
}

/* visited link */
a:visited {
  color: #68B14C;
}

/* mouse over link */
a:hover {
  color: #47A025;
}

/* selected link */
a:active {
  color: #47A025;
}

.nav-bar {
  padding: 4px;
  background-color: black;

  & > a {
    margin-right: 6px;
  }
}

/*maps setion*/
agm-map {
  height: 300px;
}